body {
    margin: 0;
    line-height: normal;
    width:375px;
}
.account-profile-photo {
    position: absolute;
    top: 0px;
    left: 6px;
    border-radius: 40px;
    width: 80px;
    height: 80px;
    overflow: hidden;
    object-fit: cover;
}
.jone-doe {
    position: absolute;
    top: 100px;
    left: 0px;
    line-height: 30px;
    display: inline-block;
    width: 92px;
}
.account-profile-group {
    position: absolute;
    top: 29px;
    left: 142px;
    width: 92px;
    height: 130px;
}
.account-profile {
    position: absolute;
    top: 121px;
    left: 0px;
    box-shadow: 0px 0px 2px rgba(23, 26, 31, 0.12), 0px 4px 9px rgba(23, 26, 31, 0.11);
    background-color: #fff;
    width: 375px;
    height: 188px;
    color: #000;
}
.view {
    position: absolute;
    top: 2px;
    left: 246px;
    line-height: 22px;
    display: inline-block;
    width: 34px;
}
.saved-payment-methods {
    position: absolute;
    top: 0px;
    left: 0px;
    font-size: 18px;
    line-height: 28px;
    font-family: Archivo;
    color: #000;
    display: inline-block;
    width: 246px;
}
.view-parent {
    position: absolute;
    top: 13px;
    left: 50px;
    width: 280px;
    height: 28px;
}
.saved-payment-methods-section {
    position: absolute;
    top: 174px;
    left: 17px;
    box-shadow: 0px 0px 2px rgba(23, 26, 31, 0.12), 0px 0px 1px rgba(23, 26, 31, 0.07);
    border-radius: 6px;
    background-color: #fff;
    width: 343px;
    height: 53px;
    overflow: hidden;
}
.button-order-history {
    position: absolute;
    top: 3px;
    left: 246px;
    line-height: 22px;
    display: inline-block;
    width: 34px;
}
.order-history-section-group {
    position: absolute;
    top: 12px;
    left: 50px;
    width: 280px;
    height: 28px;
}
.order-history-icon {
    position: absolute;
    top: 15px;
    left: 12px;
    width: 24px;
    height: 24px;
    overflow: hidden;
}
.order-history-section {
    position: absolute;
    top: 101px;
    left: 17px;
    box-shadow: 0px 0px 2px rgba(23, 26, 31, 0.12), 0px 0px 1px rgba(23, 26, 31, 0.07);
    border-radius: 6px;
    background-color: #fff;
    width: 343px;
    height: 53px;
    overflow: hidden;
}
.account-settings-title {
    position: absolute;
    top: 0px;
    left: 0px;
    line-height: 28px;
    display: inline-block;
    width: 246px;
}
.button-account-settings {
    position: absolute;
    top: 3px;
    left: 243px;
    font-size: 14px;
    line-height: 22px;
    font-family: Inter;
    color: #636ae8;
    display: inline-block;
    width: 34px;
}
.account-settings-section-group {
    position: absolute;
    top: 13px;
    left: 53px;
    width: 277px;
    height: 28px;
}
.account-settings-section {
    position: absolute;
    top: 247px;
    left: 17px;
    box-shadow: 0px 0px 2px rgba(23, 26, 31, 0.12), 0px 0px 1px rgba(23, 26, 31, 0.07);
    border-radius: 6px;
    background-color: #fff;
    width: 343px;
    height: 53px;
    overflow: hidden;
    font-size: 18px;
    color: #000;
    font-family: Archivo;
}
.favourites-section {
    position: absolute;
    top: 29px;
    left: 17px;
    box-shadow: 0px 0px 2px rgba(23, 26, 31, 0.12), 0px 0px 1px rgba(23, 26, 31, 0.07);
    border-radius: 6px;
    background-color: #fff;
    width: 343px;
    height: 53px;
    overflow: hidden;
}
.legal-title {
    position: absolute;
    top: 19px;
    left: 29px;
    font-size: 20px;
    line-height: 30px;
    display: inline-block;
    width: 331px;
}
.terms-conditions {
    position: absolute;
    top: 10px;
    left: 10px;
    line-height: 22px;
    display: inline-block;
    width: 162px;
    height: 24px;
}
.button-terms {
    position: absolute;
    top: 10px;
    left: 296px;
    line-height: 22px;
    font-family: Inter;
    color: #636ae8;
    display: inline-block;
    width: 34px;
}
.terms-conditions-section {
    position: absolute;
    top: 63px;
    left: 17px;
    box-shadow: 0px 0px 2px rgba(23, 26, 31, 0.12), 0px 0px 1px rgba(23, 26, 31, 0.07);
    border-radius: 6px;
    background-color: #fff;
    width: 343px;
    height: 41px;
    overflow: hidden;
}
.privacy-policy-title {
    position: absolute;
    top: 9px;
    left: 11px;
    line-height: 22px;
    display: inline-block;
    width: 161px;
    height: 24px;
}
.button-privacy-policy {
    position: absolute;
    top: 10px;
    left: 297px;
    line-height: 22px;
    font-family: Inter;
    color: #636ae8;
    display: inline-block;
    width: 34px;
}
.privacy-policy-section {
    position: absolute;
    top: 104px;
    left: 16px;
    box-shadow: 0px 0px 2px rgba(23, 26, 31, 0.12), 0px 0px 1px rgba(23, 26, 31, 0.07);
    border-radius: 6px;
    background-color: #fff;
    width: 343px;
    height: 41px;
    overflow: hidden;
}
.legal-section {
    position: absolute;
    top: 326px;
    left: 0px;
    box-shadow: 0px 0px 2px rgba(23, 26, 31, 0.12), 0px 2px 5px rgba(23, 26, 31, 0.09);
    background-color: #fff;
    width: 375px;
    height: 174px;
    color: #000;
    font-family: Archivo;
}
.account-sections {
    position: absolute;
    top: 309px;
    left: 0px;
    box-shadow: 0px 0px 2px rgba(23, 26, 31, 0.12), 0px 4px 9px rgba(23, 26, 31, 0.11);
    background-color: #fff;
    width: 375px;
    height: 500px;
    text-align: left;
    font-size: 14px;
    color: #636ae8;
    font-family: Inter;
}
.cafe-menu-header-group-child {
    position: absolute;
    top: 2px;
    left: 0px;
    box-shadow: 0px 0px 2px rgba(23, 26, 31, 0.12), 0px 4px 9px rgba(23, 26, 31, 0.04);
    border-radius: 0px 0px 9px 9px;
    background-color: #fff;
    width: 375px;
    height: 117px;
}
.image-icon {
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 10px;
    width: 69px;
    height: 40px;
    overflow: hidden;
}
.image-icon1 {
    position: absolute;
    top: 0px;
    left: 283px;
    border-radius: 10px;
    width: 92px;
    height: 40px;
    overflow: hidden;
}
.header-timebatteryreception {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 375px;
    height: 40px;
}
.my-cart {
    position: absolute;
    top: 65px;
    left: 52px;
    line-height: 30px;
    display: inline-block;
    width: 273px;
}
.coffee-cart-header {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 375px;
    height: 119px;
}
.map-icon-default {
    position: absolute;
    top: calc(50% - 26px);
    left: calc(50% - 16.02px);
    width: 32px;
    height: 32px;
    overflow: hidden;
}
.map {
    position: absolute;
    top: calc(50% + 6px);
    left: calc(50% - 12.52px);
    line-height: 20px;
}
.map-button {
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 6px;
    background-color: rgba(0, 0, 0, 0);
    width: 93.8px;
    height: 64px;
    overflow: hidden;
}
.account {
    position: absolute;
    top: calc(50% + 6px);
    left: calc(50% - 25.03px);
    line-height: 20px;
}
.account-button {
    position: absolute;
    top: 0px;
    left: 280.25px;
    border-radius: 6px;
    background-color: rgba(0, 0, 0, 0);
    width: 93.8px;
    height: 64px;
    overflow: hidden;
    color: #636ae8;
}
.cart-icon-default {
    position: absolute;
    top: calc(50% - 26px);
    left: calc(50% - 15.63px);
    width: 32px;
    height: 32px;
    overflow: hidden;
}
.coffee-cart {
    position: absolute;
    top: calc(50% + 6px);
    left: calc(50% - 32.63px);
    line-height: 20px;
}
.cart-button {
    position: absolute;
    top: 3px;
    left: 188px;
    border-radius: 6px;
    background-color: rgba(0, 0, 0, 0);
    width: 93px;
    height: 58px;
    overflow: hidden;
}
.discover-button {
    position: absolute;
    top: 0px;
    left: 93.75px;
    border-radius: 6px;
    background-color: rgba(0, 0, 0, 0);
    width: 93.8px;
    height: 64px;
    overflow: hidden;
}
.map-view-footer-buttons-group {
    position: absolute;
    top: 6px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0);
    width: 375px;
    height: 64px;
}
.account-view-footer {
    position: absolute;
    bottom: 0px;
    left: 0px;
    box-shadow: 0px 0px 2px rgba(23, 26, 31, 0.12), 0px 4px 9px rgba(23, 26, 31, 0.11);
    background-color: #fff;
    width: 375px;
    height: 76px;
    text-align: left;
    font-size: 12px;
    font-family: Inter;
}
.account-view {
    width: 100%;
    position: relative;
    box-shadow: 0px 3px 6px rgba(18, 15, 40, 0.12);
    background-color: #fff;
    height: 885px;
    overflow: hidden;
    text-align: center;
    font-size: 20px;
    color: #171a1f;
    font-family: Archivo;
}

